{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "consistent-return": [
      0
    ],
    "no-plusplus": 0,
    "no-dynamic-import": 0,
    "import/no-named-as-default-member": 0,
    "import/no-named-as-default": 0,
    "no-console": 0,
    "no-bitwise": 0,
    "react/forbid-prop-types": 0,
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "parser": "babel-eslint"
}