/* @import url(https://fonts.lug.ustc.edu.cn/css?family=Lato:400,700,400italic,700italic&subset=latin); */
.ui.segment, .ui.segments {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ui.menu {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
